
.spinner {
  display: flex;
  flex-direction: column;

  margin-top: 20vh;
  justify-self: center;
  align-self: center;

  border: 4px solid #eee;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 0.8s linear infinite;
}