
html,
body {
  scroll-behavior: smooth;
}

h1 {
  color: palegreen;
  width: 100%;
  text-align: center;
}

// button {
//   margin-top: 20px;
//   padding: 10px;
//   font-size: 16px;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
  // color: black;
// }

p {
  font-size: 18px;
  // color: white;
  text-align: left;
}

.container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-self: center;
  padding: 10pt;
}

// div {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.tau-card {
  margin: 10pt;
  padding: 5pt;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  p{
    margin-block: 2pt;
    text-align: center;
  }
}











body {
    font-family: Arial, sans-serif;
    // background: #f5f5f5;
    padding: 1rem;
  }

  .table-container {
    overflow-x: auto; /* permet le défilement horizontal si besoin */
  }

  table {
    width: 100%;
    border-collapse: collapse; /* élimine les espaces entre les cellules */
    table-layout: fixed; /* force des colonnes bien alignées */
    // background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  th, td {
    text-align: left;
    padding: 12px;
    // border-bottom: 1px solid #ddd;
    // word-wrap: break-word; /* évite que le texte déborde */
  }

  th {
    // color: white;
    font-weight: normal;
  }

  tr:last-child td {
    border-bottom: none;
  }

  // tr:nth-child(even) {
  //   // background-color: #f9f9f9;
  // }

  // tr:hover {
  //   // background-color: #eef7ff;
  // }